.calculator.dark {
  background-color: #3f3f3f;
}

.calculator.dark #display {
  color: #3d393a;
}

.calculator.dark button#clear {
  background-color: #7fff9b;
  color: black;
}

.calculator.dark button.btn-number {
  background-color: aquamarine;
  color: black;
}

.calculator.dark button.btn-operator {
  background-color: #ff7f9b;
  color: black;
}

.calculator.dark button.btn-equal {
  background-color: #7f94ff;
  color: black;
}

.calculator.dark {
  background-color: white;
}

.calculator.dark #display {
  color: pink;
}

.calculator.dark button#clear {
  background-color: #7fff9b;
  color: black;
}

.calculator.dark button.btn-number {
  background-color: aquamarine;
  color: black;
}

.calculator.dark button.btn-operator {
  background-color: #ff7f9b;
  color: black;
}

.calculator.dark button.btn-equal {
  background-color: #7f94ff;
  color: black;
}